<h1>Listing brokertypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brokertypes.each do |brokertype| %>
      <tr>
        <td><%= brokertype.name %></td>
        <td><%= link_to 'Show', brokertype %></td>
        <td><%= link_to 'Edit', edit_brokertype_path(brokertype) %></td>
        <td><%= link_to 'Destroy', brokertype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brokertype', new_brokertype_path %>
