<h1>Listing runs</h1>

<table>
  <thead>
    <tr>
      <th>Run ID</th>
      <th>Broker</th>
      <th>Testrun</th>
      <th>Caseruns</th>
      <th>Accounts per job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.id %></td>
        <td><%= run.broker %></td>
        <td><%= run.testrun %></td>
        <td><%= run.caseruns %></td>
        <td><%= run.accounts_per_job %></td>
        <td><%= link_to 'Logs', log_viewer_path(run.id) %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
