<h1>Listing runs</h1>

<table>
  <thead>
    <tr>
      <th>Broker</th>
      <th>Testrun</th>
      <th>Caserun ids</th>
      <th>Accounts</th>
      <th>Job count</th>
      <th>Max gears</th>
      <th>Debug</th>
      <th>Tcms user</th>
      <th>Tcms password</th>
      <th>Accounts per job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.broker %></td>
        <td><%= run.testrun_id %></td>
        <td><%= run.caserun_ids %></td>
        <td><%= run.accounts %></td>
        <td><%= run.job_count %></td>
        <td><%= run.max_gears %></td>
        <td><%= run.debug %></td>
        <td><%= run.tcms_user %></td>
        <td><%= run.tcms_password %></td>
        <td><%= run.accounts_per_job %></td>
        <td><%= run.docker_url %></td>
        <td><%= run.image_url %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
