<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <% if @run.status_id == 3%>
    <span style="color:cyan;"><%= Status.find_by(:id => @run.status_id).name %></span>
  <% elsif @run.status_id == 2%>
    <span style="color:red;"><%= Status.find_by(:id => @run.status_id).name %></span>
  <% else%>
    <span style="color:green;"><%= Status.find_by(:id => @run.status_id).name %></span>
  <% end%>
</p>

<p>
  <strong>Broker:</strong>
  <%= @run.broker %>
</p>

<p>
  <strong>Testrun:</strong>
  <%= @run.testrun %>
</p>

<p>
  <strong>Caseruns:</strong>
  <%= @run.caseruns %>
</p>

<p>
  <strong>Accounts:</strong>
  <%= @run.accounts %>
</p>

<p>
  <strong>Maxgears:</strong>
  <%= @run.maxgears %>
</p>

<p>
  <strong>Rhcbranch:</strong>
  <%= Rhcbranch.find_by(:id => @run.rhcbranch.id).name %>
</p>

<p>
  <strong>Brokertype:</strong>
  <%= Brokertype.find_by(:id => @run.brokertype.id).name %>
</p>

<p>
  <strong>Accounts per job:</strong>
  <%= @run.accounts_per_job %>
</p>

<%= link_to 'Logs', log_viewer_path(@run.id) %> |
<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
