<%= form_for(@runlogserver) do |f| %>
  <% if @runlogserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runlogserver.errors.count, "error") %> prohibited this runlogserver from being saved:</h2>

      <ul>
      <% @runlogserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :run_id %><br>
    <%= f.text_field :run_id %>
  </div>
  <div class="field">
    <%= f.label :logserver_id %><br>
    <%= f.text_field :logserver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
